@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.main {
    &__video {
        &-info {
            display: flex;
            flex-direction: column;
            margin: 1rem;

            @include mixins.tablet {
                margin: 1rem 2.25rem;
            }
            @include mixins.desktop {
                margin-right: 0;   
            }
        }
        &-title {
            padding-bottom: 1rem;
            border-bottom: 0.0625rem solid variables.$mercury;

            @include mixins.tablet {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
        &-details {
            display: flex;
            justify-content: space-between;
            width: 85%;
            padding: 1rem 0;

            @include mixins.tablet {
                width: 100%;
                padding-bottom: 0.5rem;
            }
            @include mixins.desktop {
                padding-right: 0;   
            }

            &--left {
                display: flex;
                flex-direction: column;

                @include mixins.tablet {
                    flex-direction: row;

                }
            }
            &--right {
                @extend .main__video-details--left;

                @include mixins.desktop {
                padding-right: 1.5rem;   
            }
            }
        }
        &-channel {
            @include mixins.tablet {
                font-weight: 700;
            }
        }
        &-date, &-likes {
            color: variables.$silver;
            padding-top: 1rem;

            @include mixins.tablet {
                padding-top: 0;
                margin-left: 2.5rem;
            }
        }
        &-views {
            display: flex;
            color: variables.$silver;
            align-self: top;
            &-image {
                margin-right: 0.5rem;
            }
        }
        &-likes {
            @extend .main__video-views;
            &-image {
                margin-right: 0.5rem;
            }
        }
        &-description {
            border-top: 0.0625rem solid variables.$mercury;
            padding-top: 1rem;
            
        }
    }
}