@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.main {
    &__video {
        &-info {
            display: flex;
            flex-direction: column;
            margin: 16px;

            @include mixins.tablet {
                margin: 16px 32px;
            }
        }
        &-title {
            padding-bottom: 16px;
            border-bottom: 1px solid variables.$mercury;

            @include mixins.tablet {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
        &-details {
            display: flex;
            justify-content: space-between;
            width: 85%;
            padding: 16px 0;

            @include mixins.tablet {
                width: 100%;
                padding-bottom: 8px;
            }

            &--left {
                display: flex;
                flex-direction: column;

                @include mixins.tablet {
                    flex-direction: row;

                }
            }
            &--right {
                @extend .main__video-details--left;
            }
        }
        &-channel {
            @include mixins.tablet {
                font-weight: 700;
            }
        }
        &-date, &-likes {
            color: variables.$silver;
            padding-top: 16px;

            @include mixins.tablet {
                padding-top: 0;
                margin-left: 40px;
            }
        }
        &-views {
            display: flex;
            color: variables.$silver;
            align-self: top;
            &-image {
                margin-right: 8px;
            }
        }
        &-likes {
            @extend .main__video-views;
            &-image {
                margin-right: 8px;
            }
        }
        &-description {
            border-top: 1px solid variables.$mercury;
            padding-top: 16px;
        }
    }
}