@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.videos {
    &:last-child {
        padding-bottom: 2rem;
    }
    &__item {
        display: flex;
        padding: 0.5rem 1rem 0.5rem 1rem;
        width: 20rem;

        &--right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 1rem;
        }

        @include mixins.tablet {
            width: 25rem;
            padding: 1rem 2.25rem;
        }
        @include mixins.desktop {
            padding: 0.75rem 0 0.75rem 1.5rem;
            
        }
    }
    &__img {
        height: 3.75rem;
        border-radius: 0.25rem;
        
        @include mixins.tablet {
            height: 4.375rem;
        }
    }
}