@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.comments {
    @include mixins.tablet {
        margin: 1rem 1.25rem;
    }
    @include mixins.desktop {
        margin-right: 0;
    }
    &__count {
        padding-left: 1rem;
        @include mixins.tablet {
            padding-top: 0.75rem;
        }
    }
    &__pfp {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position:left;
        margin: 1.5rem 1rem 0 0;

        @include mixins.tablet {
            margin: 2rem 1.5rem 0 0;
        }
        @include mixins.desktop {
            margin-right: 2rem;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include mixins.tablet {
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 0.75rem;
        }
        
        @include mixins.desktop {
            margin-right: 1rem;
        }
        &-container {
            display: flex;
            margin: 1rem;
            border-bottom: 0.0625rem solid variables.$mercury;

            @include mixins.desktop {
                margin: 1rem 0 0 1rem;
            }
        }
        &-title {
            color: variables.$silver;
            text-transform: uppercase;
            padding-bottom: 0.5rem;

            @include mixins.tablet {
                font-size: 0.75rem;
                padding-top: 0.5rem;
                padding-bottom: 0;
            }
        }
    }
    &__comment {
        height: 6.25rem;
        min-height: 3rem;
        border: 0.0625rem solid variables.$mercury;
        border-radius: 0.25rem;
        outline-color: variables.$brainflix-blue;
        padding: 0.75rem;
        background-color: variables.$alabaster;
        width: 100%;
        resize: none;

        &--invalid {
            border: 0.0625rem solid #D22D2D;
        }

        &::placeholder {
            color: variables.$brainflix-darkblack;
        }
        
        @include mixins.tablet {
            height: 3rem;
            width: 53vw;
        }
        @include mixins.desktop {
            width: 38vw;
        }
    }
    &__submit {
        background-color: variables.$brainflix-blue;
        background-image: url('../../assets/add_comment.svg');
        background-repeat: no-repeat;
        background-position: 3%;
        color: variables.$white;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.75rem;
        border: none;
        border-radius: 0.25rem;
        margin: 1rem 0;
        transition: 0.2s ease-in;
        max-height: 3rem;

        &:hover {
            cursor: pointer;
            background-color: variables.$brainflix-darkblue;
        }

        @include mixins.tablet {
            width: 30%;
            background-position: 6%;
            margin-top: 1.875rem;
            padding: 0.8125rem;
        }
        @include mixins.desktop {
            width: 25%;
        }
    }
}