@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.main {
    &__container {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: black;
        height: 60vw;

        @include mixins.desktop {
            max-height: 40vw;
        }
    }
    &__video {
        width: 100%;

        @include mixins.tablet {
            width: 90%;
            object-fit: cover;
        }
        @include mixins.desktop {
            max-height: 70vw;
            width: 68%;
        }
    }
    video[poster] {
        object-fit: cover;
    }
}