@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.videos {
    @include mixins.desktop {
        border-left: 1px solid variables.$mercury;
    }
    &__list {
        &-title {
            color: variables.$silver;
            font-size: 12px;
            padding: 0 16px 8px 16px;

            @include mixins.tablet {
                padding: 16px 16px 16px 36px;
                font-size: 14px;
            }
            @include mixins.desktop {
                padding: 36px 16px 0 24px;
            }
        }
    }
}