@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.videos {
    @include mixins.desktop {
        border-left: 0.0625rem solid variables.$mercury;
    }
    &__list {
        &-title {
            color: variables.$silver;
            font-size: 0.75rem;
            padding: 0 1rem 0.5rem 1rem;

            @include mixins.tablet {
                padding: 1rem 1rem 1rem 2.25rem;
                font-size: 0.875rem;
            }
            @include mixins.desktop {
                padding: 2.25rem 1rem 0 1.5rem;
            }
        }
        &-item {
            text-decoration: none;
        }
    }
}