@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';


.uploads {
    display: flex;
    flex-direction: column;
    border-top: 0.0625rem solid variables.$mercury;
    
    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 1rem;

        @include mixins.tablet {
            margin: 0 2.5rem 0rem 2.5rem;       
        }
        @include mixins.desktop {
            margin: 1rem 10rem 0 10rem;       
        }
    }
    &__title {
        padding: 1.5rem 0;

        @include mixins.tablet {
            border-bottom: 0.0625rem solid variables.$mercury;     
            font-size: 2.25rem;  
            margin-bottom: 1.5rem;
        }
    }
    &__header {
        color: variables.$silver;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
    }
    &__thumbnail {
        &-img {
            width: 90vw;
            padding-bottom: 1rem;

            @include mixins.tablet {
                max-width: 45vw;
            }
            @include mixins.desktop {
                max-width: 22.1094rem;   
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;

        @include mixins.desktop {
            display: flex;
            flex-direction: row;
        }
        &-inputs {
            width: 100%;

            @include mixins.desktop {
                margin: 0.5rem 0 0 1.5rem;
            }
        }
        &-title, &-description {
            width: 100%;
            padding: 0.65rem;
            border: 0.0625rem solid variables.$mercury;
            border-radius: 0.25rem;
            margin-bottom: 1rem;
            background-color: variables.$alabaster;

            &::placeholder {
                color: variables.$brainflix-black;
            }
            @include mixins.tablet{
                font-size: 0.9375rem;
            }
        }
        &-description {
            min-height: 5.625rem;
            resize: none;

            @include mixins.tablet{
                margin-bottom: 2rem;   
            }
        }
        &-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include mixins.tablet{
                flex-direction: row-reverse;
                justify-content: flex-start;
                border-top: 0.0625rem solid variables.$mercury;
                padding-top: 0.75rem;
            }
        }
        &-submit {
            color: variables.$white;
            font-size: 0.75rem;
            background-color: variables.$brainflix-blue;
            background-image: url('../../assets/publish.svg');
            background-position: 0.5rem;
            background-repeat: no-repeat;
            margin-top: 0.5rem;
            padding: 0.75rem;
            border: none;
            border-radius: 0.25rem;
            width: 100%;
            font-weight: 600;
            transition: 0.2s ease-in;

            &:hover {
                cursor: pointer;
                background-color: variables.$brainflix-darkblue;
            }
            @include mixins.tablet {
                width: 25%;
                font-size: 0.875rem;
                padding: 0.75rem;

            }
            @include mixins.desktop {
                width: 18%;
            }
        }
        &-cancel {
            color: variables.$brainflix-blue;
            font-size: 0.75rem;
            width: 100%;
            text-align: center;
            text-decoration: none;
            font-weight: 600;
            padding-top: 2.875rem;
            transition: 0.1s ease;

            &:hover{
                color: variables.$brainflix-darkblue;
            }
            @include mixins.tablet{
                font-size: 0.875rem;
                width: 30%;
                position: relative;
                bottom: 1.2188rem;   
            }
            @include mixins.desktop {
                width: 20%;   
            }
        }
    }
    
    
}