@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';


.uploads {
    display: flex;
    flex-direction: column;
    border-top: 2px solid variables.$mercury;
    
    &__container {
        margin: 0 16px 16px;
    }
    &__title {
        padding: 24px 0;
    }
    &__header {
        color: variables.$silver;
        text-transform: uppercase;
        padding-bottom: 8px;
    }
    &__thumbnail {
        &-img {
            width: 90vw;
            padding-bottom: 16px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;

        &-title, &-description {
            padding: 0.65rem;
            border: 1px solid variables.$mercury;
            border-radius: 4px;
            margin-bottom: 16px;
            background-color: variables.$alabaster;

            &::placeholder {
                color: variables.$brainflix-darkblack;
            }
        }
        &-description {
            height: 90px;
        }
        &-submit {
            color: variables.$white;
            font-size: 0.75rem;
            background-color: variables.$brainflix-blue;
            background-image: url('../../assets/publish.svg');
            background-position: 0.5rem;
            background-repeat: no-repeat;
            margin-top: 0.5rem;
            padding: 0.75rem;
            border: none;
            border-radius: 0.25rem;
            width: 100%;
            font-weight: 600;
            transition: 0.2s ease-in;

            &:hover {
                cursor: pointer;
                background-color: variables.$brainflix-darkblue;
            }
            @include mixins.tablet {
                width: 35%;
                font-size: 0.875rem;
                padding: 0.75rem;
            }
        }
    }
    
}