@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.comments {
    &__item {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.0625rem solid variables.$mercury;
        margin: 1rem;

        &:last-of-type {
            @include mixins.desktop {
                border-bottom: none;
            }
        }

        @include mixins.tablet {
            justify-content: flex-start;
        }
        @include mixins.desktop {
            margin: 0.5rem 0 0.5rem 1rem;
        }

        &-pfp {
            background-color: variables.$mercury;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            
            @include mixins.tablet {
                margin-top: 0.25rem;
                margin-right: 1rem;
                width: 2.75rem;
            }
            @include mixins.desktop {
                margin-top: 1rem;
            }
        }
        &--right {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin-left: 1rem;

            @include mixins.tablet {
                width: 100%;
                margin-left: 1rem;
            }
            @include mixins.desktop {
                margin: 1rem 1rem 0.5rem 1rem;;
            }
        }
        &--top {
            display: flex;
            justify-content: space-between;
        }
    }
    &__date {
        color: variables.$silver;
    }
    &__text {
        padding: 0.5rem 0 1rem 0;
    }
}